/* Body y color basico */

@body-bg:               #000;
@text-color:            #fff;

/* Tamaño y tipo de letra */

@font-family-base:        'lato';
@font-size-base:          13px;
@font-size-h1:            floor((@font-size-base * 2.5));
@font-size-h2:            floor((@font-size-base * 2.10));
@font-size-h3:            ceil((@font-size-base * 1.5));
@font-size-h4:            ceil((@font-size-base * 1.20));
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.80));

/* Menu */

@navbar-inverse-color:                      #000;
@navbar-inverse-bg:                         #fff;
@navbar-inverse-brand-hover-color:          #000;
@navbar-inverse-brand-hover-bg:             #CECECE;
@navbar-inverse-brand-color:                #000;
@navbar-inverse-link-color:                 #000;
@navbar-inverse-link-hover-color:           #fff;
@navbar-inverse-link-hover-bg:              #CECECE;
@navbar-inverse-toggle-hover-bg:            #000;
@navbar-inverse-toggle-icon-bar-bg:         #A2A0A0;
@navbar-inverse-toggle-border-color:        #A2A0A0;

/* Paleta de colores:
http://www.paletton.com/#uid=1000u0k00w0000000SG01pV0hkj
*/

